// COLORS

$primary: #25408F;
$secondary: #4095e8;

$gray: #666;

$red: #dc3545;
$yellow: #ffc107;
$green: #28a745;
$purple: #6610f2;
$cyan: #007bff;

// FONT sizes


// buttons 

 $press: rgba(#000, .3);


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


