.form-group.password{
    position: relative;
    .btn-eye{
        color: $gray;
        position: absolute;
        right: 10px;
        border: none;
        box-shadow: none;
        top: 0px;
        padding: 10px;
        cursor: pointer;
        font-size: 18px;
        outline: none;
    }
}

.pointer{
    cursor: pointer;
  }