.register-section{
    width: 100%;
    margin-top: 72px;
        .box-login{
         
        }

    .register{
        background: $primary;
        width: 100%;
    }
    .register-left{
        text-align: center;
        color: #fff;
        margin-top: 4%;
    }
    .register-left input{
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        width: 60%;
        background: #f8f9fa;
        font-weight: bold;
        color: #383d41;
        margin-top: 30%;
        margin-bottom: 3%;
        cursor: pointer;
    }
    .register-right{
        background: #f8f9fa;
        border-top-left-radius: 10% 50%;
        border-bottom-left-radius: 10% 50%;
        padding-right: 30px;

        @include respond(max-767){
            padding-right: 15px;
            border-top-left-radius: 0;
            border-bottom-left-radius:0;
        }
    }
    .register-left img{
        margin-top: 15%;
        margin-bottom: 5%;
        width: 25%;
        -webkit-animation: mover 2s infinite  alternate;
        animation: mover 1s infinite  alternate;
    }
    @-webkit-keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-20px); }
    }
    @keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-20px); }
    }
    .register-left p{
        font-weight: lighter;
        padding: 12%;
        margin-top: -9%;
    }
    .register .register-form{
        padding: 10%;
        margin-top: 10%;
    
         @include respond(tablet){
            padding: 30px 15px;
        }

        @include respond(max-767){
            padding: 30px 15px;
        }
    }
    .btnRegister{
        float: right;
        margin-top: 15px;
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        background: #0062cc;
        color: #fff;
        font-weight: 600;
        width: 50%;
        cursor: pointer;
    }
    .register .nav-tabs{
        margin-top: 3%;
        border: none;
        background: $secondary;
        border-radius: 1.5rem;
        width: 28%;
        margin: 20px 25px auto auto;
        float: initial;
        @include respond(tablet-lg){
            width: 40%;
            margin: 20px 25px auto auto;
            float: initial;
        }    
        @include respond(tablet){
            width: 60%;
            margin: 20px auto;
            float: initial;
        }        
        @include respond(max-767){
            width: 90%;
            margin: 20px auto;
            float: initial;
        }
        @include respond(tablet-xs){
            width: 90%;
            margin: 20px auto;
            float: initial;
        }
    }
    .register .nav-tabs .nav-link{
        padding: 2%;
        height: 34px;
        font-weight: 600;
        color: #fff;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;

        @include respond(max-767){
            height: auto;
            padding: 5px 10px;
        }
    }
    .register .nav-tabs .nav-link:hover{
        border: none;
    }
    .register .nav-tabs .nav-link.active{
        width: auto;
        color: $secondary;
        border: 2px solid $secondary;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
    }
    .register-heading{
        text-align: center;
        margin-top:35px;
        margin-bottom: -15%;
        color: #495057;
        @include respond(tablet){
            display: inline-block;
            width: 100%;
            margin-top:0;
        }
    }
}