.panel-cliente{
  width: 100%;
  margin-top: 72px;
	/* Banner */
	
	.banner {
		
		/* background-image: url(https://firebasestorage.googleapis.com/v0/b/bluediamont-75e04.appspot.com/o/banner.jpg?alt=media&token=ac4211bd-3ae4-4000-acba-2a18869f1984); */
		background-position: center center;
		background-size: cover;
		border-bottom: 4px solid #25408F;
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 360px;
		
	}

	/* promocion section config */

	.promocion-box{
		margin: 20px auto;	
		.publicidad{
			width: 100%;
			height:100px;
			background-color: #c1c1c1;
			border: 2px solid #c1c1c1;
			margin: auto 10px;
		}
	}

	.box-plates{
		margin: 30px auto;
		max-width: 95%;
		
		

		.panel{
			height: auto;
			width: 300px;
			padding: 15px;
			border-bottom: 4px solid $primary;
			box-shadow: 0 4px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
			@include respond (tablet-lg){
				width: 100%;
			}
			@include respond (tablet){
				width: 100%;
			}
			@include respond (max-767){
				margin: 20px auto;
			}

			.title{
				color: $secondary;
				text-align:center;
			}

			.price-status{
				display: flex;
				justify-content: space-around;
				flex-direction: column;
				padding: 10px;
				background-color: #fff;
				margin: 10px;
				border-radius: 5px;
				box-shadow: 2px 2px 1px 1px lightblue;
				border: 1px solid #ececec;
				position: relative;
				min-height: 70px;
				cursor: pointer;
				p{
				  color: $gray;
				  font-size: 14px;
				  margin-bottom: 0;
				}
				h5{
				  color: $green;
				  font-size: 24px;
				  max-width: 80%;
				  @include respond (table-lg){
					font-size: 20px;
				  }
				  @include respond (table){
					font-size: 18px;
				  }
				  @include respond (max-767){
					font-size: 16px;
				  }
				}
				img{
				  position: absolute;
				  top: 15px;
				  right: 10px;
				  width: 50px;
				  
				  @include respond (table){
					width: 30px;
				  }
				  @include respond (max-767){
					width: 30px;
				  }
				}
			}
			ul{
			    list-style: none;
			    color: #666;
			    li{
					a{
					    color: #666;
					    width: 100%;
					    display: block;
					    padding: 7px;
					    text-decoration: none;
					    border-bottom: 1px solid #ececec;

						.right{
							text-align: right;
							float: right;
							margin-top: 4px;	
						}

					}
					.dropdown-menu{
						border-radius: 0;
						border-bottom: 4px solid $primary;
						.dropdown-item{
							text-align: center;
						}
					}
			    }
			}
		}

		/* Edit cards */
		.controller-container {
		  margin-bottom: 5%;
		  text-align: center;
		}
		.controller {
		  -webkit-user-select: none;
		     -moz-user-select: none;
		      -ms-user-select: none;
		          user-select: none;
		  display: inline-block;
		  margin: 0 20px;
		  font-size: 22px;
		  padding: 10px 0;
		  color: #FFF;
		  position: relative;
		  transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
		}
		.controller:after {
		  content: "";
		  height: 3px;
		  display: block;
		  position: absolute;
		  bottom: 0;
		  width: 0;
		  transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
		  background-color: #FFF;
		}
		.controller.is_current:after {
		  width: 100%;
		}
		.controller:hover,
		.controller.is_current {
		  -webkit-transform: translate3d(0, -5px, 0);
		          transform: translate3d(0, -5px, 0);
		  cursor: pointer;
		}
		.card {
		  will-change: transform;
		  margin: 8px;
		  position: relative;
		  border-radius: 2px;
		  overflow: hidden;
		  background-color: #fafafa;
		  height: 35%;
		  width: 260px;
		  margin: 0 auto 25px;
		  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
       	 -webkit-box-shadow: 0 4px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
          box-shadow: 0 4px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
          border-bottom: 4px solid $primary;
          @include respond (tablet-lg){
          	width: 100%;
          }
          @include respond (tablet){
          	width: 100%;
          }
		}
		.card:hover {
		  cursor: pointer;
		}
		.card__image {
		  position: absolute;
		  background-size: cover;
		  background-position: center bottom;
		  background-repeat: no-repat;
		  width: 100%;
		  height: 100%;
		  overflow: hidden;
		  display: block;
		  opacity: 0;
		  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  		  box-shadow: inset 0px -50px 85px -50px #000;
		}
		.card__image:after {
		  content: "";
		  display: block;
		  position: absolute;
		  background-color: rgba(0, 0, 0, 0.1);
		  top: 0;
		  left: 0;
		  right: 0;
		  transition: all 500ms;
		  bottom: 0;
  		  box-shadow: inset 0px -50px 85px -50px #000;
		}	
		.card__title {
		  -webkit-user-select: none;
		     -moz-user-select: none;
		      -ms-user-select: none;
		          user-select: none;
		  font-size: 18px;
		  color: #FFF;
		  margin: 0;
		  position: absolute;
		  left: 0;
		  right: 0;
		  padding: 0 16px;
		  font-weight: 400;
		  white-space: nowrap;
		  text-overflow: ellipsis;
		  overflow: hidden;
		  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
		}
		.card__subtitle {
		  -webkit-user-select: none;
		     -moz-user-select: none;
		      -ms-user-select: none;
		          user-select: none;
		  font-size: 14px;
		  display: block;
		  white-space: nowrap;
		  text-overflow: ellipsis;
		  overflow: hidden;
		  color: #000;
		  left: 88px;
		  right: 0;
		  top: 45px;
		  position: absolute;
		  padding: 0 16px;
		  opacity: 0;
		  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
		}
		.card__text {
		  -webkit-user-select: none;
		     -moz-user-select: none;
		      -ms-user-select: none;
		          user-select: none;
		  font-size: 14px;
		  display: block;
		  left: 0;
		  right: 0;
		  top: 100px;
		  padding: 16px;
		  margin: 0;
		  line-height: 1.6;
		  position: absolute;
		  color: $gray;
	      overflow: hidden;
	      display: -webkit-box;
	      -webkit-line-clamp: 3;
	      -webkit-box-orient: vertical;  
		  overflow: hidden;
		  transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
		  transition: delay 0.1s;
		  max-height: 85px;
		}
		.card__action-bar {
		  -webkit-user-select: none;
		     -moz-user-select: none;
		      -ms-user-select: none;
		          user-select: none;
		  position: absolute;
		  bottom: 0;
		  top: auto;
		  left: 0;
		  right: 0;
		  padding: 0 8px;
		  border-top: 1px solid #E0E0E0;
		  box-sizing: border-box;
		  height: 36px;
		  transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
		}
		.card__button {
		  outline: none;
		  position: relative;
		  display: inline-block;
		  line-height: 36px;
		  padding: 0 16px;
		  color: $secondary;
		  font-size: 14px;
		  text-transform: uppercase;
		}
		.card--big {
  	      -webkit-box-shadow: 0 4px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
          box-shadow: 0 4px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
		  height: 304px;
		  min-height: 304px;
		  transition: .2s;
		  transform: scale(1);
		  &:hover{
			transform: scale(1.02);
		  }
		}
		.card--big .card__image {
		  border-radius: 1px 1px 0 0;
		  left: 0;
		  right: 0;
		  top: 0;
		  opacity: 1;
		  max-height: 176px;
  		  box-shadow: inset 0px -50px 85px -50px #000;
		}
		.card--big .card__title {
		  top: 150px;
		}
		.card--big .card__text {
		  top: 176px;
		}
		.card--big .card__action-bar {
		  left: 0;
		}
		button {
		  border: none;
		  background: transparent;
		}
	}

	.historial-cliente{
		.title{
			text-align: center;
			color: $primary;
			font-size: 22px;
			margin: 30px auto;
			&:after{
				content: "";
				height: 2px;
				width: 35px;
				background-color: #18346e;
				margin: 5px auto;
				display: flex;
				justify-content: center;
		  } 
		}
		.box-table{
			position: relative;
		   
			.table-responsive{
			   min-height: 450px;
				@include respond(max-767){
				  min-height: auto;
				}
				 .table{
	  
				td{
				  text-align: center;
				  max-width: 120px;
				  font-size: 14px;
				  vertical-align: middle;
				}
				th{
				  text-align: center;
				}
				.thead-blue{
				  background-color: $primary;
				  color: #fff;
				}
	  
				.status.green{
				  color: $red;
				}
				.status.red{
				  color: $green;
				}
			  }
			
			}
		 
	  
			.btn-group{
			  button{
				 background-color: transparent;
				 border:none;
				 outline: none;
				 &:hover, &:focus, &:active, &:active:focus{
				  box-shadow: none;
				  border: none;
				 }
				 &:nth-child(1){
				  svg{
					color: $gray;
				  }
				 }
				&:nth-child(2){
				 svg{
				   color: $yellow;
				 }
				}
				&:nth-child(3){
				 svg{
				  color: $red;
				  }
				}
			  }
			}
	  
			.pagination-section{
			  justify-content: center;
			  width: 100%;
			  .pagination{
				justify-content: center;
				a{
				  border: none;
				  border-radius: 50%;
				  line-height: 35px;
				  padding: 0;
				  width: 35px;
				  height: 35px;
				  margin: auto 10px;
				  text-align: center; 
				  color: $secondary;
				  &:hover, &:focus, &:active, &:active:focus{
					box-shadow: none;
					border: none;
					background-color: $primary;
					color: #fff !important;
				   }
				  i{
					border: none;
					border-radius: 50%;
					line-height: 35px;
					padding: 0;
					width: 35px;
					text-align: center; 
					color: $secondary;
				  }
				}
				a:hover{
				  i{
					color: #fff;
				  }
				}
			  }
			}
		  }
	}

}
///////loading
#preloader  {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999;
	height: 100%;
	z-index: 100000000000;
}

#status  {
    width: 300px;
    height: 300px;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/bluediamont-75e04.appspot.com/o/imagen%2Floading-68.gif?alt=media&token=ca66da0d-f4f3-4e66-9665-dfe8856c3831');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	z-index: 90000000000000;
}
#millaSaldo{
	position: relative;
	color:#4095e8;
left: 50;
justify-content: right
}