*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
   overflow-x: hidden !important;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: .5s;
    padding: 0 !important;
    width: 100%;
}